body{
    margin:0px;
    padding:0px;
}
ul{
    width:300px;
    padding:0px;
    height:80px;
    margin-top: 20px;
}
li{
    list-style: none;
    margin: 0px;
    padding:0px;
    float: right;
    line-height:28px;
    display: inline;
    white-space: nowrap;
}
dd{
    margin-left: 100px;
}

.slim-row {
    margin-bottom: 10px !important;
    margin-left: 0 !important;
}

.slim-input {
    margin: 0 !important;
}

#contain{
    margin: 40px;
}
#left{
    width: 25%;
    float: left;
    margin-left: 40px;
}
.left_head{
    float: right;
    margin-right: 10px;
}

hr{
    width:10px;
    height:1000px;
    position: absolute;
    left: 550px;
}

#right{
    width: 70%;
    float: right;

}

.float_Lbry{
    margin-left: 13px;
}
.help{
    font-size: large;
    float: right;
    margin:10px 200px;
}
.color{
   background-color: yellow;
}
.btn2{
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: transparent !important;
    color: #b3b3b3 !important;
    cursor: default;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    transition: background-color .2s;
    background-color: transparent !important;
    color: #b3b3b3 !important;
    cursor: default;
}